:root{

}

body{
    font-family: Kanit;
    background-color: blueviolet;
    background-color: #172135;
    background-image: 
        radial-gradient(at 47% 33%, hsl(240.59, 50%, 47%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.24, 65%, 28.000000000000004%) 0, transparent 55%);
    color:rgb(175, 175, 182); ;
}

.topHeader{
    margin:0;
}

.imgContainer{
    margin: 0;
}


.title{

}

.logo{
    max-width: 100%;
}
.navbar-nav{
    text-align: right;
}

.introText{
    color:rgb(175, 175, 182);
}

.card {
    backdrop-filter: blur(13px) saturate(180%);
    -webkit-backdrop-filter: blur(13px) saturate(100%);
    background-color: rgba(17, 25, 40, 0.50);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color:rgb(175, 175, 182);
}

.list-group{
    
}
a{
    text-decoration: none;
}

.list-group-item:hover{
    background-color:rgb(142, 171, 252)
}


a:link, nav-link:link, a:visited{
    color:rgb(1, 1, 15);
}

.email:link{
    color:rgb(175, 175, 182);
    text-align: right;
}

footer{
    color:rgb(175, 175, 182);
}

.card-img-top{

}