
body{
    font-family: Kanit;
    background-color: blueviolet;
    background-color: #172135;
    background-image: 
        radial-gradient(at 47% 33%, hsl(240.59, 50%, 47%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.24, 65%, 28.000000000000004%) 0, transparent 55%);
    color:rgb(175, 175, 182); ;
}

.topHeader{
    margin:0;
}

.logo{
    max-width: 100%;
    width: 50%;
}

.navbar-nav{
    text-align: right;
}

.introText{
    color:rgb(175, 175, 182);
    font-family: Kanit;
}

.card {
    backdrop-filter: blur(13px) saturate(180%);
    -webkit-backdrop-filter: blur(13px) saturate(100%);
    background-color: rgba(17, 25, 40, 0.50);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color:rgb(175, 175, 182);
    margin: 1rem;
}

hr{
    height: 50px;
    border: 0;
    border-radius: .5rem;
    box-shadow: inset 0 12px 12px -12px rgba(247, 243, 243, 0.75);
    margin:1rem 2rem 0 2rem;
}

.list-group-item:hover{
    background-color:rgb(142, 171, 252)
}

a{
    text-decoration: none;
}

a:link, .nav-link:link, a:visited{
    color:rgb(1, 1, 15);
}

.email:hover, .nav-link:hover{
    color:rgb(142, 171, 252)
}

.email:link{
    color:rgb(175, 175, 182);
    text-align: right;
}
.email:visited{
    color:rgb(175, 175, 182);
}

footer{
    color:rgb(175, 175, 182);
    
}

.navbar,.footerNavBar {
    background-color:rgba(46, 67, 109, .85);
}


